
<!--* Modal Part-->

<!-- Layout Part -->


<div class="stretch col-md-12" id="home">

<div class="pageheader">
            

            <h3><span class="glyphicon glyphicon-dashboard"></span> Dashboard
            <small style="color:grey"> {{dashboard.title}} dashboard.title...</small></h3>
          
            <div class="breadcrumbs">
              <ol class="breadcrumb">
                <li>View</li>
                <li>Resume</li>
                <li class="active">Detailled</li>
              </ol>
            </div>


          </div>
  <div class="row cards" >

    <div class="card-container col-lg-3 col-sm-6 col-sm-12" ng-repeat="widget in widgets | orderBy : Activity | filter: myFilter track by widget._id ">
      <div id='{{widget._id}}'class="card card-slategray hover" ng-click="expandWidget(widget)">
        <div class="front"> 

          <div class="media">        
            <span class="pull-left" style="margin-right:20px;">
              <h2><span class="glyphicon glyphicon-record"></span></h2>
            </span>

            <div class="media-body">
              <span style="max-height:10px"><small>{{widget.name}}</small></span>
              <h2 class="media-heading animate-number" data-value="3659" data-animation-duration="1500">{{widget.mesureVal}} <small> / {{widget.reference}}</small></h2>
            </div>
          </div> 

          <div class="progress-list">
            <div class="details">
              <div class="title">Vue {{widget.groupBy}}</div>
            </div>
            <div class="status pull-right bg-transparent-black-1">
              <span class="animate-number" data-value="{{widget.percentObjectif}}" data-animation-duration="1500">{{widget.percentObjectif}}</span>
            </div>
            <div class="clearfix"></div>
            <div class="progress progress-little progress-transparent-black">
              <div class="progress-bar animate-progress-bar progress-bar-green" data-percentage="{{widget.percentObjectif}}" style="width: {{widget.percentObjectif}};"></div>
            </div>
          </div>
   <div style="display:none" class='cardBottom' style="margin-top:30px;">
  <div class="media-body">
              <span><small style="color:grey">Activity : </small><br/>{{widget.Activity.replace(perimeter.Activity,"#")}}</span><br/>
              <span> <small style="color:grey">Contexte : </small><br/>{{widget.Contexte}}</span><br/>
              <span><small style="color:grey">Axe : </small><br/>{{widget.Axe}}</span><br/>
            </div> 
        </div>
      </div>
        </div>
     
    </div>
  </div>

<!--   <br/><br/>
<div gridster>
  <ul>
    <li gridster-item="item" ng-repeat="item in standardItems" ng-class="gridContentColor(item)">
      <div class="gridAll">
        <div class="gridHeader"><span style="float:right;right:5px" class="glyphicon glyphicon-edit"></span></div>

        <div class="gridContent">                                    <div class="media">                   
          <span class="pull-left">
            <i class="fa fa-eye media-object"></i>
          </span>

          <div class="media-body">
            {{item.name}}
            <h2 class="media-heading animate-number" data-value="{{item.value}}" data-animation-duration="1500">{{item.value}}</h2>
          </div>

        </div> 

      </div> 

      <div class="progress-list">
        <div class="details">
          <div class="title">This month plan %</div>
        </div>
        <div class="status pull-right bg-transparent-black-1">
          <span class="animate-number" data-value="83" data-animation-duration="1500">83</span>%
        </div>
        <div class="clearfix"></div>
        <div class="progress progress-little progress-transparent-black">
          <div class="progress-bar animate-progress-bar" data-percentage="83%" style="width: 83%;"></div>
        </div>
      </div>
      <div class="gridGraph" ng-show="item.sizeY > 1 && item.sizeX > 1">
       <nvd3-stacked-area-chart
       data="exampleData"
       width="380"
       height="280"
       showXAxis="true"
       showYAxis="true"
       color="colorFunction()">
     </nvd3-stacked-area-chart>
     <br/>
   </div>
   <div onclick="location.href='/dash';" style="cursor:pointer;" class="gridFooter" ng-class="gridFooterColor(item)">
   voir le détail <span style="float:right;right:5px"class="glyphicon glyphicon-circle-arrow-right"></span>
   </div>
 </div>
 </li>
</ul>
</div> 

<div class="gridbutton">
  <button class="btn btn-default" ng-click="openIndicateur({})">Ajouter un indicateur</button>
</div>-->

</div>    