
<!--* Modal Part-->

<div class="row">
   <!-- BEGIN OVERVIEW STATISTIC BARS-->
      <div class="row stats-overview-cont">
             <div class="col-md-2 col-sm-4">
          <div class="stats-overview stat-block">
            <div class="display stat bad huge">
              <span class="line-chart">
              1,7,9,11, 14, 12, 6, 7, 4, 2, 9, 8, 11, 12, 14, 12, 10 </span>
              <div class="percent">
                 +15%
              </div>
            </div>
            <div class="details">
              <div class="title">
                 Metrics
              </div>
              <div class="numbers">
                 {{summary.metrics.list.length}}
              </div>
              <div class="progress">
                <span style="width: 15%;" class="progress-bar progress-bar-success" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">
                15% Complete </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4">

          <div class="stats-overview stat-block">
            <div class="display stat ok huge">
              <span class="line-chart">
              5, 6, 7, 11, 14, 10, 15, 19, 15, 2 </span>
              <div class="percent">
                 +66%
              </div>
            </div>
            <div class="details">
              <div class="title">
                 Tasks
              </div>
              <div class="numbers">
                  {{summary.tasks.list.length}}
              </div>
            </div>
            <div class="progress">
              <span style="width: 40%;" class="progress-bar progress-bar-info" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
              <span class="sr-only">
              66% Complete </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4">
          <div class="stats-overview stat-block">
            <div class="display stat good huge">
              <span class="line-chart">
              2,6,8,12, 11, 15, 16, 11, 16, 11, 10, 3, 7, 8, 12, 19 </span>
              <div class="percent">
                 +16%
              </div>
            </div>
            <div class="details">
              <div class="title">
                 Indicators
              </div>
              <div class="numbers">
                 {{summary.indicateurs.list.length}}
              </div>
              <div class="progress">
                <span style="width: 16%;" class="progress-bar progress-bar-warning" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">
                16% Complete </span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2 col-sm-4">
          <div class="stats-overview stat-block">
            <div class="display stat ok huge">
              <span class="line-chart">
              2,6,8,12, 11, 15, 16, 17, 14, 12, 10, 8, 10, 2, 4, 12, 19 </span>
              <div class="percent">
                 +12%
              </div>
            </div>
            <div class="details">
              <div class="title">
                 Trust
              </div>
              <div class="numbers">
                  {{summary.trust.list.length}}
              </div>
              <div class="progress">
                <span style="width: 72%;" class="progress-bar progress-bar-danger" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">
                72% Complete </span>
                </span>
              </div>
            </div>
          </div>
        </div>
 
                <div class="col-md-2 col-sm-4">
          <div class="stats-overview stat-block">
            <div class="display stat bad huge">
              <span class="line-chart">
              2,6,8,11, 14, 11, 12, 13, 15, 12, 9, 5, 11, 12, 15, 9,3 </span>
              <div class="percent">
                 +6%
              </div>
            </div>
            <div class="details">
              <div class="title">
                 Alerts
              </div>
              <div class="numbers">
                  {{summary.alerts.list.length}}
              </div>
              <div class="progress">
                <span style="width: 16%;" class="progress-bar progress-bar-success" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">
                16% Complete </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4">
          <div class="stats-overview stat-block">
            <div class="display stat good huge">
              <span class="bar-chart">
              1,4,9,12, 10, 11, 12, 15, 12, 11, 9, 12, 15, 19, 14, 13, 15 </span>
              <div class="percent">
                 +86%
              </div>
            </div>
            <div class="details">
              <div class="title">
                 Goals
              </div>
              <div class="numbers">
                  {{summary.goals.list.length}}
              </div>
              <div class="progress">
                <span style="width: 56%;" class="progress-bar progress-bar-warning" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">
                56% Complete </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END OVERVIEW STATISTIC BARS-->
</div>
<!-- Layout Part -->
<tabset>
  <tab heading="Detailled">
    <div class="row cards" >

      <div class="card-container col-lg-3 col-sm-6 col-sm-12" ng-repeat="widget in widgets | orderBy : Activity | filter: myFilter track by widget._id " on-finish-render>
        <div id='{{widget._id}}'class="card card-slategray hover" ng-click="expandWidget(widget)">
          <div class="front"> 

            <div class="media">        
              <span class="pull-left" style="margin-right:20px;">
                <h2><span class="glyphicon" ng-class="{'glyphicon-record':widget.category=='Objectif','glyphicon-warning-sign':widget.category=='Alerte'}"></span></h2>
              </span>

              <div class="media-body">
                <span style="max-height:10px"><small>{{widget.name}}</small></span>
                <h2 class="media-heading animate-number" data-value="3659" data-animation-duration="1500">{{widget.mesureVal}} <small> / {{widget.reference}}</small></h2>
              </div>
            </div> 

            <div class="progress-list">
              <div class="details">
                <div class="title">Vue {{widget.groupBy}}</div>
              </div>
              <div class="status pull-right bg-transparent-black-1">
                <span class="animate-number" data-value="{{widget.percentObjectif}}" data-animation-duration="1500">{{widget.percentObjectif}}</span>
              </div>
              <div class="clearfix"></div>
              <div class="progress progress-little progress-transparent-black">
                <div class="progress-bar animate-progress-bar progress-bar-green" data-percentage="{{widget.percentObjectif}}" style="width: {{widget.percentObjectif}};"></div>
              </div>
            </div>
            <div style="display:none" class='cardBottom' style="margin-top:30px;">
              <div class="media-body">
                <span><small style="color:grey">Activity : </small><br/>{{widget.Activity.replace(perimeter.Activity,"#")}}</span><br/>
                <span> <small style="color:grey">Contexte : </small><br/>{{widget.Contexte}}</span><br/>
                <span><small style="color:grey">Axe : </small><br/>{{widget.Axe}}</span><br/>
              </div> 
            </div>
          </div>
        </div>

      </div>
    </div>
  </tab>
  <tab heading="Resume">


  </tab>
</tabset>
<script>
jQuery(document).ready(function() {    
   Index.initJQVMAP(); // init index page's custom scripts
   Index.initCalendar(); // init index page's custom scripts
   Index.initCharts(); // init index page's custom scripts
   Index.initChat();
   Index.initMiniCharts();
   Index.initPeityElements();
   Index.initKnowElements();
   Index.initDashboardDaterange();
   Tasks.initDashboardWidget();
});
</script>
