<div class="stretch col-md-4" id="home">
  <h2>Vos actions à réaliser</h2>

</div>
<div class="stretch col-md-8" id="home">
  <h2>Vos dashboards</h2>

  <div class="stretch col-md-6" id="home" ng-repeat="dashboard in dashboards track by dashboard._id">
    <section class="tile transparent">

      <!-- tile header -->
      <div class="tile-header nopadding">               
        <div class="controls">
          <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
          <a href="#" class="remove"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <!-- /tile header -->

      <!-- tile widget -->
      <div class="tile-widget color cyan rounded-top-corners">

        <div class="fa fa-twitter watermark"></div>

        <div class="media">        
          <span class="pull-left">
           <div class="icon icon-ic_center_focus_strong_black_24dp"></div>
         </span>

         <div class="media-body">
          <h4 class="media-heading"><strong>{{dashboard.name}}</strong></h4>
          <small><a href="#0" ng-click="openDashboard(dashboard)">Voir en détail</a></small>
        </div>
      </div>

    </div>
    <!-- /tile widget -->

    <!-- tile body -->
    <div class="tile-body color transparent-black rounded-bottom-corners">
      <ul class="inline divided">
        <li>
          <h4>0 / 16</h4>
          16 Alertes
        </li>
        <li>
          <h4>52%</h4>
          7 Objectifs
        </li>
        <li>
          <h4>8</h4>
          Anticipation
        </li>
        <li>
          <h4>8</h4>
          Infos
        </li>
      </ul>
    </div>
    <!-- /tile body -->
  </section>
</div>

</div>    

